
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p>BAD BOY HACKER'S BAD URL AS EXAMPLE : home/login?returnUrl=https://www.youtube.com/watch?v=Gz2GVlQkn4Q&list=RD4Tyac3UvW9w&index=5 </p>
<form method="post">
    <input type="submit" value="Giriş Yap"/>
    </form>